@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    border-radius: 100px;
    background-color: #8070d4;
    background-clip: content-box;
}

body {
    background-image: url('https://i.gifer.com/Ocko.gif') ;
    background-size: contain;
    height: 100vh;
    width: 100%;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    list-style-type: none;
    height: 60px;
    background-color: black;
    color: white;
    align-items: center;
    border-bottom: 3px solid rgb(32, 255, 2);
}

nav ul li {
    padding: 0 12px;
}

.brand>img {
    width: 55px;
    height: 50px;
    padding-right: 5px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.4rem;
}

.container {
    min-height: 68vh;
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('https://cutewallpaper.org/21/black-music-wallpaper/1600x1200-px-background-black-guitars-red-High-Quality-.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* position: absolute; */
}

.bottom {
    /* position: sticky; */
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    position: relative;
    bottom: -24px;
    border-top: 2px solid rgb(32, 255, 2);

}

.icons {
    margin: 10px 0;
}

.icons i {
    cursor: pointer;
    padding-right: 8px;
}

#progressBar {
    width: 77.8vw;
    cursor: pointer;
    /* transition: 2s ease-in; */
}

.songsItem {
    height: 50px;
    display: flex;
    background-color: white;
    width: 100%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    top: 67px;
    position: relative;
    left: -500px;

}

.songsItem img {
    width: 43px;
    margin: 0 5px;
    border-radius: 50%;
}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
    padding-left: 10px;
}

.songitemcontainer {
    margin-top: -20px;
}